{% extends "ext/cover.html" %}

{% block content %}
<div class="col-12 col-lg-10 m-auto">
    <div class="card mb-3">
        <div class="card-header text-center text-info"
        >Great Thanks For</div>
        <div class="card-body">
            <a href="https://udacity.com/">
                <li class="list-group-item list-group-item-action h5">
                    Udacity Team
                </li>
            </a>
            <a href="https://www.youtube.com/channel/UC-QDfvrRIDB6F0bIO4I4HkQ">
                <li class="list-group-item list-group-item-action h5">
                    Pretty Printed
                </li>
            </a>
            <a href="https://stackoverflow.com/">
                <li class="list-group-item list-group-item-action h5">
                    StackOverFlow
                </li>
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Author</td>
                <td class="text-success">Abdelaziz Sharaf</td>
            </tr>
            <tr>
                <td>Creation Data</td>
                <td>Dec 24, 2019</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Comunity | Education</td>
            </tr>
            <tr>
                <td>Started As</td>
                <td>UdacityFSND 2<sup>nd</sup> main Project</td>
            </tr>
            <tr>
                <td>App target</td>
                <td>To collect a helpful resources for everyone
                    who started building his CV, skills .. etc</td>
            </tr>
            <tr>
                <td>Support</td>
                <td>Contribute, init an issue or Star on
                    <a
                        class="text-primary"
                        href="https://github.com/AbdelazizSharaf001/iCatalog"
                        >github</a></td>
            </tr>
            <tr>
                <td>Licence</td>
                <td>
                    <a
                        class="text-primary"
                        href="https://www.gnu.org/licenses/gpl-3.0.en.html"
                        >GPL-v3</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}